<a href="https://colab.research.google.com/github/filippovf/python/blob/main/Curso_Introdu%C3%A7%C3%A3o_Python_na_Ocean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introdução

Um pouco sobre a história da computação.

O que é programação?

O que é um programa de computador?

O que é um algoritmo?

# Python

Aplicações python

Ambientes de programação python
* Colab
* repl.it
* site do Python
* Terminal

# A linguagem Python

In [ ]:
print("Hello World") #  Este é um comentário

Hello World

# Tipos de dados em python

In [ ]:
print("Tipos de Dados em Pyhton:\n")
print('27 =', type(27)) # O tipo de dados do número 27 é int(numero inteiro)
print('2.7 =', type(2.7)) # O tipo de dados do número 2.7 é int(numero float)
print('"27" =', type('27')) # O tipo de dados docom aspas é string
print('2.7 + 2j =', type(2.7 + 2j)) # O tipo de dados complexo usa o j
print('True or False =', type(True)) # O tipo de dados True or False é booleano
print(type(27)) # O tipo de dados do número 27 é int(numero inteiro)
print(type(2.7)) # O tipo de dados do número 2.7 é int(numero float)
print(type('27')) # O tipo de dados docom aspas é string
print(type(2.7 + 2j)) # O tipo de dados complexo usa o j
print(type(True)) # O tipo de dados True or False é booleano
print("\nHello \nWorld!") # O \n pula linha como no bash
print('Pode usar "aspas" duplas mantendo a string inteira em aspas simples e usar \\n para pular linha')
# uma \ adicional mata a \ tratando-a como caractere comum

Tipos de Dados em Pyhton:

27 = <class 'int'>
2.7 = <class 'float'>
"27" = <class 'str'>
2.7 + 2j = <class 'complex'>
True or False = <class 'bool'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'bool'>

Hello
World!
Pode usar "aspas" duplas mantendo a string inteira em aspas simples e usar \n para pular linha

# Declarando e usando variáveis

In [ ]:
print('Declarando e usando variáveis:\n')
aluno = "Filippo"
pi = 3.1415926536
status = True
print(aluno)
print(pi)
print('circunferência de raio 1 =', pi * 2 * 1)
print(2 * pi)
print(status)
print(aluno, pi, status)

Declarando e usando variáveis:

Filippo
3.1415926536
circunferência de raio 1 = 6.2831853072
6.2831853072
True
Filippo 3.1415926536 True

## Concatenando variáveis e alterando os tipos

In [ ]:
nome  = "Filippo"
sobrenome = "Valiante"
idade = 41
print(nome, sobrenome)
print(nome + sobrenome)
print(nome + " " + sobrenome)
print(nome + " " + sobrenome, idade)
print(nome + " " + sobrenome + ",", idade)
print("Olá, meu nome é " + nome + " " + sobrenome + " e minha idade é", idade) 
print("Olá, meu nome é", nome, sobrenome, "e minha idade é", idade) 
# Não dá pra concatenar a idade com o + porque ela é int.
# Pra usar + idade  no print precisaria declará-lo como string "41")
# Mas dá pra usar a função str() para converter para string
print("Olá, meu nome é " + nome + " " + sobrenome + " e minha idade é " + str(idade)) 
print("Ano que vem terei", idade + 1, "anos.")
print(type(idade))        # resulta INT
print(type(str(idade)))   # resulta STR

Filippo Valiante
FilippoValiante
Filippo Valiante
Filippo Valiante 41
Filippo Valiante, 41
Olá, meu nome é Filippo Valiante e minha idade é 41
Olá, meu nome é Filippo Valiante e minha idade é 41
Olá, meu nome é Filippo Valiante e minha idade é 41
Ano que vem terei 42 anos.
<class 'int'>
<class 'str'>

In [ ]:
numero_inteiro = 100
numero = float(numero_inteiro)
print(numero, numero_inteiro)
print(type(numero_inteiro))
print(type(numero))
numero_complexo_string = "1+2j"
numero_complexo = complex(numero_complexo_string)
print(numero_complexo,numero_complexo_string)
print(type(numero_complexo_string))
print(type(numero_complexo))
# Funções str(), float(), int(), complex(), boolean()

100.0 100
<class 'int'>
<class 'float'>
(1+2j) 1+2j
<class 'str'>
<class 'complex'>

## Entrada de Dados

In [ ]:
nome = input("Digite o seu nome:")
print("\nOlá", nome + ".\n")
valor = float(input("Qual foi o valor da conta no restaurante? "))
gorjeta = valor * 0.1
print("\nA gorjeta é de R$", gorjeta)
print("\nA gorjeta é de R$", round(gorjeta, 2))     #Arredonda para "n" casas
print("\nA gorjeta é de R$ {:.2f}".format(gorjeta)) #Formata com 2 casas decimais
print("\nA gorjeta é de R$ {:.3f}".format(gorjeta)) #Formata com 3 casas decimais
print("\nA gorjeta é de R$ {:.3f}".format(gorjeta)) #Formata com 3 casas decimais
print(f'A gorjeta é de R$ {gorjeta:.2f}')            #Formata com 2 casas decimais

teste = 10/6
print("\n")
print(teste)
print(round(teste, 2))     #Arredonda para "n casas
print("{:.2f}".format(teste)) #Formata com 2 casas decimais
print("{:.3f}".format(teste)) #Formata com 3 casas decimais

Digite o seu nome:ljdlffs

Olá ljdlffs.

Qual foi o valor da conta no restaurante? 35646

A gorjeta é de R$ 3564.6000000000004

A gorjeta é de R$ 3564.6

A gorjeta é de R$ 3564.60

A gorjeta é de R$ 3564.600

A gorjeta é de R$ 3564.600
A gorjeta é de R$ 3564.60


1.6666666666666667
1.67
1.67
1.667

## Manipulação de strings

In [ ]:
teste = "Primeiro Teste"
segundo_teste = "Mais outro teste"
print(teste)
print(segundo_teste)
print(len(teste))           # len() mostra o tamanho da variável
print(len(segundo_teste))   # len() mostra o tamanho da variável
print(teste + " " + segundo_teste)    # concatenação
subst1 = teste.replace("Teste", "Segundo") # substitui a palavra teste por segundo
subst2 = teste.replace("Primeiro Teste", "Terceiro") # substitui toda a expressão por segundo
subst3 = teste.replace(teste, "Quarto") # substitui variável teste por quarto
subst4 = teste.replace("primeiro", "Quarto") # não substitui pois é case sensitive
print(teste)
print(subst1)
print(subst2)
print(subst3)
print(subst4, "Notar que é case sensitive!")
print(teste.replace("Primeiro", "1º"))    # dá pra usar direto no print!
numero = 12.3
print(numero)
numero_str = str(numero)
print(numero_str.replace(".", ","))   # transformando a variável em string dá pra trocar . por ,

Primeiro Teste
Mais outro teste
14
16
Primeiro Teste Mais outro teste
Primeiro Teste
Primeiro Segundo
Terceiro
Quarto
Primeiro Teste Notar que é case sensitive!
1º Teste
12.3
12,3

# Operadores e operações

## Operações aritméticas com Booleanos

In [ ]:
print("True + True =", True + True)
print("True + False =", True + False)
print("True * True =", True * True)
print("True * False =", True * False)
print("True + 4 * True =", True + 4 * True)
True + 4 * True

True + True = 2
True + False = 1
True * True = 1
True * False = 0
True + 4 * True = 5

5

## Operadores aritméticos

In [ ]:
print(17 + 7)
print(17 - 7)
print(17 * 7)
print(17 / 7)
print(17 // 7)  # módulo da divisão
print(17 % 7)   # resto da divisão
print(17 ** 7)  # potenciação
print(17 ** 0.5)    # raiz funciona assim também
print(17 ** (1/2))  # raiz funciona assim também
print(17 ** (1/3))  # raiz funciona assim também

24
10
119
2.4285714285714284
2
3
410338673
4.123105625617661
4.123105625617661
2.571281590658235

## Biblioteca math

In [ ]:
import math
numero = 10
print(math.sqrt(numero)) # raiz
print(math.log(numero))  # log
print (math.pi)
print (math.e)

3.1622776601683795
2.302585092994046
3.141592653589793
2.718281828459045

##Bibliotecas de data e hora

In [4]:
from datetime import datetime
from datetime import date
from dateutil import tz

data_hj = date(year=2021, month=8, day=25)
print(data_hj)
 

print(datetime.today()) # Data atual
print(datetime.now().isoformat()) # Data atual
print(datetime.now().) # Data atual

print(datetime.today().strftime('%Y-%d-%m'))# Alterando o formato da data
print(datetime.today().strftime('%Y-%m-%d %H:%M')) # Tirando os milesegundos
print(datetime.today().strftime('%A, %B %d, %Y %H:%M:%S'))# Incluindo os dias da semana 
print(datetime.today(), tz.tzlocal()) # Data atual

2021-08-25
2021-08-25 18:03:34.361274
2021-08-25T18:03:34.361932
2021-25-08
2021-08-25 18:03
Wednesday, August 25, 2021 18:03:34
2021-08-25 18:03:34.363875 tzlocal()

## Operadores de atribuição

In [ ]:
a = 1
b = 1
c = 1
d = 1

# atribui o valor e em seguida realiza a operação aritmética
a += 2  # a = a + 2
b -= 3  # b = b - 3
c *= 4  # c = c * 4
d /=5   # d = d / 5

print(a)
print(b)
print(c)
print(d)

3
-2
4
0.2

## Operadores de comparação

In [ ]:
# == representa igualdade
# != representa diferente
print("igualdade e diferença:")
print(7 == 7)
print(2.5 == 2.5)
print("texto" == "txt") #retorna "False"
print("texto" != "txt") #retorna "True"

# > e < se comportam como esperado
# bem como >=  e  <=
print("maior e menor")
print(10 > 9)
print(8 > 9)
print(10 < 9)
print(8 < 9)
print(8 >= 9)
print(9 >= 9)
print(10 >= 9)

igualdade e diferença:
True
True
False
True
maior e menor
True
False
False
True
False
True
True

In [ ]:
# Checagem de maioridade
idade = input("Qual a sua idade?")
print("Maior de idade:", int(idade) >= 18)

Qual a sua idade?5
Maior de idade: False

## Números formatados

In [ ]:
porcentagem = 0.10  # float
valor_conta = 123   # int

gorjeta = porcentagem * valor_conta # Aqui gorjeta é uma variável numérica
print(gorjeta)
print(type(gorjeta))

# usando Format String
# notar o uso da variável entre chaves
# e o f no começo
print (f"A gorjeta do garçom é: {gorjeta} - impressa usando fstring!")
print ("A gorjeta do garçom é: {gorjeta} - se esquecer o f sai assim...")


# E agora gorjeta_nova será uma string!
# Mas a conta é feita da mesma forma!
# A variável gorjeta_nova fica com todo o texto e o resultado da operação
# Mas o uso do Format String é mais elegante
gorjeta_nova = "A gorjeta do garçom é " + str(porcentagem * valor_conta)
print(gorjeta_nova)
print(type(gorjeta_nova))

12.3
<class 'float'>
A gorjeta do garçom é: 12.3 - impressa usando fstring!
A gorjeta do garçom é: {gorjeta} - se esquecer o f sai assim...
A gorjeta do garçom é 12.3
<class 'str'>

In [ ]:
#COnversão de polegadas em centímetros
medida_polegada = float(input("Qual a medida em polegadas? "))
medida_cm = medida_polegada * 2.54
print(medida_polegada, "polegadas equivale a", medida_cm, "cm.")
# Com o format string dá pra ajustar quantidade de casas:
print(f"{medida_polegada}\" equivale a {medida_cm:.2f}cm.")

Qual a medida em polegadas? 2487
2487.0 polegadas equivale a 6316.9800000000005 cm.
2487.0" equivale a 6316.98cm.

# Coleções de dados

## Listas

In [64]:
# Trabalhando com listas
# Listas são declaradas com []

frutas = ["maçã", "banana", "manga", "ameixa"]
print(frutas)
print(type(frutas))
print(len(frutas), "elementos na lista.")
print(frutas[0]) # a lista começa no zero!
print(frutas[2])
frutas[3] = "nectarina" # trocando um elemento
print(frutas)

# Para inserir um novo elemento no final da lista:
frutas.append("pêssego")
print(frutas)
print(frutas[len(frutas)-1])
print(len(frutas), "elementos na lista.")

# Para inserir um novo elemento em qualquer local da lista:
frutas.insert(0, "morango")
frutas.insert(2, "ameixa")
print(frutas)
print(len(frutas), "elementos na lista.")

# Para remover um elemento pelo nome:
frutas.remove("morango")
print(frutas)
print(len(frutas), "elementos na lista.")
frutas.append("pêssego") # dupliquei o último elemento
print(frutas)
frutas.remove("pêssego") # ele só removeu um
print(frutas)

# Para remover um elemento pelo índice:
frutas.pop(4)
print(frutas)

# Para ordenar:
numeros = [7,1,5,3,4]
numeros.sort()
frutas.sort()
print(frutas)
print(numeros)

# Listas podem conter tipos de dados diferentes
# inclusive listas dentro de listas!!!
listao = [5, 8, 10, 15, True, "texto", ["outralista", 42, "elemento"]]
print(listao)
print(len(listao))
print(listao[6]) # O elemento 6 (o 7º) é a lista dentro da lista
print(listao[6][1])
print(listao[6][2])
listao[6].append("outro valor") # direciona para a lista dentro da lista
listao[6].insert(3,"mais um") # direciona para a lista dentro da lista
print(listao)
print(listao[6][3])
print(type(listao[6][3]))

['maçã', 'banana', 'manga', 'ameixa']
<class 'list'>
4 elementos na lista.
maçã
manga
['maçã', 'banana', 'manga', 'nectarina']
['maçã', 'banana', 'manga', 'nectarina', 'pêssego']
pêssego
5 elementos na lista.
['morango', 'maçã', 'ameixa', 'banana', 'manga', 'nectarina', 'pêssego']
7 elementos na lista.
['maçã', 'ameixa', 'banana', 'manga', 'nectarina', 'pêssego']
6 elementos na lista.
['maçã', 'ameixa', 'banana', 'manga', 'nectarina', 'pêssego', 'pêssego']
['maçã', 'ameixa', 'banana', 'manga', 'nectarina', 'pêssego']
['maçã', 'ameixa', 'banana', 'manga', 'pêssego']
['ameixa', 'banana', 'manga', 'maçã', 'pêssego']
[1, 3, 4, 5, 7]
[5, 8, 10, 15, True, 'texto', ['outralista', 42, 'elemento']]
7
['outralista', 42, 'elemento']
42
elemento
[5, 8, 10, 15, True, 'texto', ['outralista', 42, 'elemento', 'mais um', 'outro valor']]
mais um
<class 'str'>

## Dicionário

#Controle

Trabalha com chave - valor

{'chave':'valor'}

In [82]:
# dicionários usam chave : valor
dicionario = {'nome':'Filippo', 'idade':41, 'altura':1.82}
print(dicionario)
print(dicionario['nome'])
print(dicionario['nome'],dicionario['idade'])
print(dicionario['nome'] + ", " + str(dicionario['idade']))

# Adicionando entradas
dicionario['cpf'] = 23456789012
print(dicionario)
print(len(dicionario), "pares de valores no dicionário.")

# Remoção de entradas
dicionario.pop('altura') # ou usar ('altura', None)
print(dicionario)
print(len(dicionario), "pares de valores no dicionário.")

# Dá pra criar um dicionário que contém listas
dicio_lista = {'frutas':['maçã', 'banana', 'manga', 'ameixa'], 'nome' : 'Filippo'}
print(dicio_lista)
print(len(dicio_lista), "pares de valores no dicionário.")

{'nome': 'Filippo', 'idade': 41, 'altura': 1.82}
Filippo
Filippo 41
Filippo, 41
{'nome': 'Filippo', 'idade': 41, 'altura': 1.82, 'cpf': 23456789012}
4 pares de valores no dicionário.
{'nome': 'Filippo', 'idade': 41, 'cpf': 23456789012}
3 pares de valores no dicionário.
{'frutas': ['maçã', 'banana', 'manga', 'ameixa'], 'nome': 'Filippo'}
2 pares de valores no dicionário.

## Condicionais

In [89]:
# Checagem de maioridade 2
# Agora com IF
idade = int(input("Qual a sua idade? \n\n"))
if idade >= 18:
  print("Maior de idade.")
else:
  print("Menor de idade.")

Qual a sua idade?

19
Maior de idade.

In [108]:
# Checagem de maioridade 3
# Agora com IF e ELIF
idade = int(input("Qual a sua idade? \n\n"))
acompanhado = input("Está acompanhado? [s/n]")
print(acompanhado)
if idade >= 18:
  print("Maior de idade.")
elif acompanhado == "s":
  print("Menor de idade, mas está acompanhado...")
else:
  print("Menor de idade.")

Qual a sua idade?

15
Está acompanhado? [s/n]n
n
Menor de idade.

## While

In [110]:
numero = 15
while numero > 5:
  print(numero)
  numero -= 1 # Ou numero = numero - 1
print("Acabou.")

15
14
13
12
11
10
9
8
7
6
Acabou.

In [117]:
lista = [1,2,3,4,5,6,7]
i = 0
print(lista)
while i < len(lista):
  lista[i] = lista[i] + 1
  i = i + 1
print("Sua lista atualizada com todos os elementos adionados de 1 ficou:")
print(lista)

[1, 2, 3, 4, 5, 6, 7]
Sua lista atualizada com todos os elementos adionados de 1 ficou:
[2, 3, 4, 5, 6, 7, 8]

## For

In [118]:
lista = [1,2,3,4]
lista2 = []
print(lista)
print(lista2)

for item in lista:
  lista2.append(item + 1)
print(lista2)

[1, 2, 3, 4]
[]
[2, 3, 4, 5]

# Funções

## Função simples

In [122]:
def hello(nome):
  print("Hello, " + str(nome) + "! Live long and prosper!")

hello("Filippo")

Hello, Filippo! Live long and prosper!

## Função com retorno

In [138]:
# Exemplo passando valores absolutos
def calcula_gorjeta(valor_conta, porcentagem):
  float(valor_conta)
  float(porcentagem)
  gorjeta = valor_conta * porcentagem
  return gorjeta

valor = calcula_gorjeta(185.3, 0.1)
print(f"O valor da gorjeta é de R$ {valor:.2f}")

O valor da gorjeta é de R$ 18.53

In [144]:
# Exemplo passando valores a partir de uma variável
def calcula_gorjeta(valor_conta, porcentagem):
  float(valor_conta)
  float(porcentagem)
  gorjeta = valor_conta * porcentagem
  return gorjeta

valor = float(input("Qual foi o valor da conta? \n"))
gorjeta_calculada = calcula_gorjeta(valor, 0.1)
print(f"O valor da gorjeta é de R$ {gorjeta_calculada:.2f}")

Qual foi o valor da conta?
123.45
O valor da gorjeta é de R$ 12.35

# Meus exercícios

## Bhaskara
Fiz para treinar.
Precisa aperfeiçoar com IFs

In [157]:
# Resolução de equações de 2º grau com Bhaskara
print("Insira uma equação de 2º grau no formato: f(x) = ax² + bx + c")
a = int(input("a = "))
b = int(input("b = "))
c = int(input("c = "))
delta = float(((b * b) - (4 * a * c)))
print(f"\nDada a expressão {a}x² + {b}x + {c}.\n")

# Checagem do Delta
if delta > 0:
  print(f"Delta = {delta:.2f} > 0. Portanto há 2 raízes reais.")
elif delta == 0:
  print("Delta = 0. Portanto há apenas uma raiz real.")
else:
  print(f"Delta = {delta} < 0. Portanto as raízes são imaginárias. Não há solução real.")

x1 = ((-1 * b) + (delta ** (1/2))) / (2 * a)
x2 = ((-1 * b) - (delta ** (1/2))) / (2 * a)
vertice_y = (-1 * delta) / (4 * a)
vertice_x = (-1 * b) / (2 * a)

print(f"\nAs raízes são: {x1:.2f} e {x2:.2f}.")
# print("\nAs raízes são:", x1, "e", x2, ", enquanto para x = 0, y =", yx0, ".") # assim também funcionaria

if a > 0:
  print(f"\nO ponto de mínimo é {vertice_x:.2f},{vertice_y:.2f}.")
else:
  print(f"\nO ponto de máximo é {vertice_x:.2f},{vertice_y:.2f}.")

Insira uma equação de 2º grau no formato: f(x) = ax² + bx + c
a = -1
b = 2
c = 3

Dada a expressão -1x² + 2x + 3.

Delta = 16.00 > 0. Portanto há 2 raízes reais.

As raízes são: -1.00 e 3.00.

O ponto de máximo é 1.00,4.00.

## Fibonacci

In [1]:
# Fibonacci
i = 0
j = 1
x = 0
print(i)
print(j)
while x < 1000:
  x = i + j
  i = j
  j = x
  print(x)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597