<a href="https://colab.research.google.com/github/filippovf/python/blob/main/C%C3%B3pia_de_Python_Introdu%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introdução

Um pouco sobre a história da computação.

O que é programação?

O que é um programa de computador?

O que é um algoritmo?

# Python

Aplicações python

Ambientes de programação python
* Colab
* repl.it
* site do Python
* Terminal

# A linguagem Python

In [ ]:
print("Hello World") #  Este é um comentário

Hello World

# Tipos de dados em python

In [98]:
print("Tipos de Dados em Pyhton:\n")
print('27 =', type(27)) # O tipo de dados do número 27 é int(numero inteiro)
print('2.7 =', type(2.7)) # O tipo de dados do número 2.7 é int(numero float)
print('"27" =', type('27')) # O tipo de dados docom aspas é string
print('2.7 + 2j =', type(2.7 + 2j)) # O tipo de dados complexo usa o j
print('True or False =', type(True)) # O tipo de dados True or False é booleano
print(type(27)) # O tipo de dados do número 27 é int(numero inteiro)
print(type(2.7)) # O tipo de dados do número 2.7 é int(numero float)
print(type('27')) # O tipo de dados docom aspas é string
print(type(2.7 + 2j)) # O tipo de dados complexo usa o j
print(type(True)) # O tipo de dados True or False é booleano
print("\nHello \nWorld!") # O \n pula linha como no bash
print('Pode usar "aspas" duplas mantendo a string inteira em aspas simples e usar \\n para pular linha')
# uma \ adicional mata a \ tratando-a como caractere comum

Tipos de Dados em Pyhton:

27 = <class 'int'>
2.7 = <class 'float'>
"27" = <class 'str'>
2.7 + 2j = <class 'complex'>
True or False = <class 'bool'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'bool'>

Hello
World!
Pode usar "aspas" duplas mantendo a string inteira em aspas simples e usar \n para pular linha

# Declarando e usando variáveis

In [1]:
print('Declarando e usando variáveis:\n')
aluno = "Filippo"
pi = 3.1415926536
status = True
print(aluno)
print(pi)
print('circunferência de raio 1 =', pi * 2 * 1)
print(2 * pi)
print(status)
print(aluno, pi, status)

Declarando e usando variáveis:

Filippo
3.1415926536
circunferência de raio 1 = 6.2831853072
6.2831853072
True
Filippo 3.1415926536 True

## Concatenando variáveis e alterando os tipos

In [7]:
nome  = "Filippo"
sobrenome = "Valiante"
idade = 41
print(nome, sobrenome)
print(nome + sobrenome)
print(nome + " " + sobrenome)
print(nome + " " + sobrenome, idade)
print(nome + " " + sobrenome + ",", idade)
print("Olá, meu nome é " + nome + " " + sobrenome + " e minha idade é", idade) 
print("Olá, meu nome é", nome, sobrenome, "e minha idade é", idade) 
# Não dá pra concatenar a idade com o + porque ela é int.
# Pra usar + idade  no print precisaria declará-lo como string "41")
# Mas dá pra usar a função str() para converter para string
print("Olá, meu nome é " + nome + " " + sobrenome + " e minha idade é " + str(idade)) 
print("Ano que vem terei", idade + 1, "anos.")
print(type(idade))        # resulta INT
print(type(str(idade)))   # resulta STR

Filippo Valiante
FilippoValiante
Filippo Valiante
Filippo Valiante 41
Filippo Valiante, 41
Olá, meu nome é Filippo Valiante e minha idade é 41
Olá, meu nome é Filippo Valiante e minha idade é 41
Olá, meu nome é Filippo Valiante e minha idade é 41
Ano que vem terei 42 anos.
<class 'int'>
<class 'str'>

In [12]:
numero_inteiro = 100
numero = float(numero_inteiro)
print(numero, numero_inteiro)
print(type(numero_inteiro))
print(type(numero))
numero_complexo_string = "1+2j"
numero_complexo = complex(numero_complexo_string)
print(numero_complexo,numero_complexo_string)
print(type(numero_complexo_string))
print(type(numero_complexo))
# Funções str(), float(), int(), complex(), boolean()

100.0 100
<class 'int'>
<class 'float'>
(1+2j) 1+2j
<class 'str'>
<class 'complex'>

## Entrada de Dados

In [60]:
nome = input("Digite o seu nome:")
print("\nOlá", nome + ".\n")
valor = float(input("Qual foi o valor da conta no restaurante? "))
gorjeta = valor * 0.1
print("\nA gorjeta é de R$", gorjeta)
print("\nA gorjeta é de R$", round(gorjeta, 2))     #Arredonda para "n" casas
print("\nA gorjeta é de R$ {:.2f}".format(gorjeta)) #Formata com 2 casas decimais
print("\nA gorjeta é de R$ {:.3f}".format(gorjeta)) #Formata com 3 casas decimais
print("\nA gorjeta é de R$ {:.3f}".format(gorjeta)) #Formata com 3 casas decimais
print(f'A gorjeta é de R$ {gorjeta:.2f}')            #Formata com 2 casas decimais

teste = 10/6
print("\n")
print(teste)
print(round(teste, 2))     #Arredonda para "n casas
print("{:.2f}".format(teste)) #Formata com 2 casas decimais
print("{:.3f}".format(teste)) #Formata com 3 casas decimais

Digite o seu nome:ljdlffs

Olá ljdlffs.

Qual foi o valor da conta no restaurante? 35646

A gorjeta é de R$ 3564.6000000000004

A gorjeta é de R$ 3564.6

A gorjeta é de R$ 3564.60

A gorjeta é de R$ 3564.600

A gorjeta é de R$ 3564.600
A gorjeta é de R$ 3564.60


1.6666666666666667
1.67
1.67
1.667

## Manipulação de strings

In [76]:
teste = "Primeiro Teste"
segundo_teste = "Mais outro teste"
print(teste)
print(segundo_teste)
print(len(teste))           # len() mostra o tamanho da variável
print(len(segundo_teste))   # len() mostra o tamanho da variável
print(teste + " " + segundo_teste)    # concatenação
subst1 = teste.replace("Teste", "Segundo") # substitui a palavra teste por segundo
subst2 = teste.replace("Primeiro Teste", "Terceiro") # substitui toda a expressão por segundo
subst3 = teste.replace(teste, "Quarto") # substitui variável teste por quarto
subst4 = teste.replace("primeiro", "Quarto") # não substitui pois é case sensitive
print(teste)
print(subst1)
print(subst2)
print(subst3)
print(subst4, "Notar que é case sensitive!")
print(teste.replace("Primeiro", "1º"))    # dá pra usar direto no print!
numero = 12.3
print(numero)
numero_str = str(numero)
print(numero_str.replace(".", ","))   # transformando a variável em string dá pra trocar . por ,

Primeiro Teste
Mais outro teste
14
16
Primeiro Teste Mais outro teste
Primeiro Teste
Primeiro Segundo
Terceiro
Quarto
Primeiro Teste Notar que é case sensitive!
1º Teste
12.3
12,3

# Operadores e operações

## Operações aritméticas com Booleanos

In [18]:
print("True + True =", True + True)
print("True + False =", True + False)
print("True * True =", True * True)
print("True * False =", True * False)
print("True + 4 * True =", True + 4 * True)
True + 4 * True

True + True = 2
True + False = 1
True * True = 1
True * False = 0
True + 4 * True = 5

5

## Operadores aritméticos

In [97]:
print(17 + 7)
print(17 - 7)
print(17 * 7)
print(17 / 7)
print(17 // 7)  # módulo da divisão
print(17 % 7)   # resto da divisão
print(17 ** 7)  # potenciação
print(17 ** 0.5)    # raiz funciona assim também
print(17 ** (1/2))  # raiz funciona assim também
print(17 ** (1/3))  # raiz funciona assim também

24
10
119
2.4285714285714284
2
3
410338673
4.123105625617661
4.123105625617661
2.571281590658235

## Biblioteca math

In [94]:
import math
numero = 10
print(math.sqrt(numero)) # raiz
print(math.log(numero))  # log
print (math.pi)
print (math.e)

3.1622776601683795
2.302585092994046
3.141592653589793
2.718281828459045

## Operadores de atribuição

In [96]:
a = 1
b = 1
c = 1
d = 1

# atribui o valor e em seguida realiza a operação aritmética
a += 2  # a = a + 2
b -= 3  # b = b - 3
c *= 4  # c = c * 4
d /=5   # d = d / 5

print(a)
print(b)
print(c)
print(d)

3
-2
4
0.2